.event-modal {
  position: absolute;
  margin: 0 auto;
  padding: 0;
  top: 5vh;
  /* top: 0; */
  bottom: 0;
  left: 5vw;
  /* left: 0; */
  right: 0;
  width: 80vw;
  /* width: 100%; */
  border: 12px solid orange;
  /* border-radius: 40px; */
  height: 98vh;
  /* height: 100%; */
  /* align-items: center;
  justify-content: center; */
  z-index: 100;
  background-color: #1c1c1c;
  /* background: cover; */
  overflow: auto;
}

.game-over-modal {
  position: absolute;
  margin: 0 auto;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  /* border: 1px solid orange; */
  height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: #1c1c1c;
  background: cover;
  overflow: auto;
}
