@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Background Color */
  background-color: #1C1C1C;
  /* Primary font color */
  color: #EEEB27;
  font-size: 16px;
  font-family: 'Press Start 2P';
  text-shadow: 2px 2px #902EBB;
  line-height: 1.2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width:100vw;
  height: 100vh;
  margin: auto;
}

#root div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  padding: 20px 0;
  /* border: 1px solid red; */
}

button {
  border: 5px solid #63C328;
  padding: 10px 10px;
  background-color: #cf7017;
  font-weight: 700;
  font-size: 1rem;
  font-family: 'Press Start 2P';
  color: rgba(0, 0, 0, 0.7);
  /* width: 400px; */
}

img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: top;
  filter: blur(1px) opacity(80%) /*saturate(82%)*/ hue-rotate(240deg);
  border-radius: 10px;
}

p {
  font-size: .6rem;
  text-align: center;
  width: 90%;
  margin-bottom: 5px;
}

@media (min-width: 800px) {

  .App {
    margin: 5px auto;
  }

  p {
    width: 85%;
    font-size: 0.9rem;
    line-height: 1.4;
  }

  button {
    font-size: 1.6rem;
  }
}

@media (min-width: 350px) {
  p {
    font-size: 0.6rem;
  }

  button {
    font-size: 1.2rem;
  }
}