/* Importing the Press Start 2P font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


/*****************************
*      SITE GLOBALS
*****************************/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* Background Color */
  background-color: #1C1C1C;

  /* Primary font color */
  color: #EEEB27;

  /* Font and text settings */
  font-size: 16px;
  font-family: 'Press Start 2P';
  text-shadow: 2px 2px #902EBB;
  line-height: 1.2;

  /* Setting viewport width and height */
  width:100vw;
  min-height: 100vh;
}

#root {
  width: 95%;
  margin: 0 auto;
  padding: 20px 0;
}

/*****************************
*      PAGE GLOBALS
*****************************/
#start-game,
#hallway,
#room,
#game-wom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}

/*****************************
*         HEADER
*****************************/
.header-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px dashed #63C328;
  margin-bottom: 1em;
  padding: 1rem;
  margin-top: 0;
  height: 310px;
}

.main-style-header {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.main-style-header h3 {
  text-align: center;
  font-size: 1.08rem;
}

/*****************************
*          BUTTONS
*****************************/
#button-bar {
  display: flex;
  flex-direction: row;
}

.btn-wrap {
  margin: 0 20px;
}

button {
  border: 5px solid #63C328;
  padding: 10px;
  background-color: #cf7017;
  font-weight: 700;
  font-size: .6rem;
  font-family: 'Press Start 2P';
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: .5rem;
  cursor: pointer;
}

button.backToHomeBtn {
  border: 5px solid #63C328;
  color: #cf7017;
  background-color: #000;
}

/*****************************
*          IMAGES
*****************************/
.img-wrap {
  width: 400px;
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
  max-height: 400px;
  filter: opacity(80%) hue-rotate(240deg);
  border-radius: 10px;
}

/*****************************
*        PARAGRAPHS
*****************************/
p {
  /* Changing the text itself */
  font-size: .6rem;
  text-align: center;
  margin-bottom: 1em;
  width: 90%;
}

/*****************************
*         HEADINGS
*****************************/
h1 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

/*****************************
*          MODAL
*****************************/


/*****************************
*      MEDIA QUERIES
*****************************/

/* Screens that start at 320px */
@media (min-width: 320px) {
  img {
    max-height: 400px;
    width: 70%;
  }

  p {
    font-size: 0.55rem;
  }

  button {
    font-size: .75rem;
    padding: 7px;
    border: 3px solid #63C328;
  }  
}

/* Screens that start at 800px */
@media (min-width: 800px) {

  .App {
    margin: 5px auto;
  }

  img {
    max-height: 400px;
    filter: blur(1px) opacity(80%) hue-rotate(240deg);
  }

  p {
    width: 85%;
    font-size: 1.1rem;
    line-height: 1.4;
  }

  button {
    font-size: 1.2rem;
  }

  #root div.header-div {
    height: 200px;
  }

  .main-style-header {
    font-size: 45px; /* Changed for desktop */
  }
    
  h3 {
    font-size: 1.15rem; /* Changed for desktop */
  }
}