/* Importing the Press Start 2P font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* div{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/*****************************
*      SITE GLOBALS
*****************************/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  /* Background Color */
  background-color: #1C1C1C;

  /* Primary font color */
  color: #EEEB27;

  /* Font and text settings */
  font-size: 16px;
  font-family: 'Press Start 2P';
  text-shadow: 2px 2px #902EBB;
  line-height: 1.2;

  /* Setting viewport width and height */
  width:100vw;
  max-height: 100vh;
}

/*****************************
*      PAGE GLOBALS
*****************************/
#root {
  width: 95%;
  margin: 20px auto;
  max-height: calc(100vh - 40px);
}

#start-game,
#hallway,
#room,
#trailer-embed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  max-height: 100vh;
  padding: 5px;
  /* margin: auto;
  border: 1px solid red; */
}

#game-won {
  justify-content: center;
  align-items: space-around;
  padding: 10px;
  text-align: center;
}

/*****************************
*         HEADER
*****************************/
.header-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px dashed #63C328;
  margin-bottom: 1em;
  padding: 1rem;
  margin-top: 0;
  max-height: 310px;
}

.main-style-header {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.header-div h3 {
  text-align: center;
  font-size: .8rem;
}

@media (min-width: 800px) {
  #root div.header-div {
    height: 200px;
  }

  .main-style-header {
    font-size: 45px; 
  }
}

/*****************************
*          BUTTONS
*****************************/
#button-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-wrap {
  margin: 5px 20px;
  display: inline-block;
}

button {
  border: 5px solid #63C328;
  padding: 10px;
  background-color: #cf7017;
  font-weight: 700;
  font-size: .6rem;
  font-family: 'Press Start 2P';
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: .5rem;
  cursor: pointer;
  margin: 5px 20px;
}

button.backToHomeBtn {
  border: 5px solid #63C328;
  color: #cf7017;
  background-color: #000;
}

@media (min-width: 320px) {
  button {
    font-size: .8rem;
    padding: 7px;
    border: 3px solid #63C328;
  }
}

@media (min-width: 800px) {
  #button-bar {
    flex-direction: row;
  }

  button {
    font-size: 1.2rem;
  }
}

/*****************************
*          IMAGES
*****************************/
.img-wrap {
  margin-bottom: 1rem;
  text-align: center;
}

img {
  max-width: 100%;
  height: 300px;
  filter: opacity(80%) hue-rotate(240deg);
  border-radius: 10px;
  margin: auto;
}

#key-display img {
  filter: hue-rotate(0deg);
}

.event-modal img {
  filter: hue-rotate(0);
}

/* Screens that start at 320px */
@media (min-width: 320px) {
  img {
    max-height: 150px;
    max-width: 70%;
  }
}

/* Screens that start at 800px */
@media (min-width: 800px) {
  img {
    max-height: 400px;
    filter: blur(1px) opacity(80%) hue-rotate(240deg);
  }
}

/*****************************
*          VIDEO
*****************************/
.player {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 320px) {
  Video
  .player {
    padding-bottom: 45%;
  }
}

/*****************************
*    PARAGRAPHS & SPANS
*****************************/
span,
p {
  /* Changing the text itself */
  font-size: .6rem;
  text-align: center;
  margin-bottom: 1em;
  /* width: 80%; */
}

/* Screens that start at 320px */
@media (min-width: 320px) {
  span,
  p {
    font-size: 0.55rem;
  }
}

.event-modal p {
  text-align: center;
  margin: 0;
}

/* Screens that start at 800px */
@media (min-width: 800px) {
  span,
  p {
    font-size: 1.1rem;
    line-height: 1.4;
  }
}

/*****************************
*         HEADINGS
*****************************/
h1 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

h2,
h3 {
  text-align: center;
}

@media (min-width: 800px) {    
  h3 {
    font-size: 1.15rem;
  }
}

/*****************************
*          MODAL
*****************************/
.event-modal,
.game-over-modal {
  position: absolute;
  padding: 10px;
  margin: 0 auto;
  width: 90%;
  border: 12px solid orange;
  height: 90%;
  z-index: 100;
  background-color: #1c1c1c;
  text-align: center;
  overflow: auto;
}


/*****************************
*        INVENTORY
*****************************/
.controls {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  margin: 10px;
}

.controls div .btn-audio {
  border: 4px solid rgba(173, 216, 230, 0.726);
  border-radius: 5px;
  background-color:rgba(0, 0, 0, 0.3);  
  width: 40px;
  height: 40px;
  color: #cdcdcd;
  margin: 5px 0;
}

#inventory span {
  display: block;
  border: 2px solid orange;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  margin: 5px 0;
  display: block;
}

#inventory #gold-key {
  border-color: gold;
}

#inventory #silver-key {
  border-color: silver;
}
