*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Background Color */
  background-color: #1C1C1C;
  /* Primary font color */
  color: #EEEB27;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  /* max-height: 100vh; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  padding: 20px 0;
  /* border: 1px solid red; */
}

button {
  border: 3px solid green;
  padding: 10px 50px;
  background-color: #F4831B;
  font-weight: 700;
  max-width: 400px;
  font-size: 2rem;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: bottom;

}

p {
  font-size: 1rem;
  text-align: left;
  width: 60%;
}

@media (min-width: 800px) {
  
  .App {
    margin: 5px auto;
  }

  p {
    width: 90%;
    font-size: 1.2rem;
  }
}